<section>
  <div class="container-fluid showcase-container">
    <div class="row showcase">
      <div class="col-lg-6">
        <h1 class="cynerge-title">
          <strong class="cynerge-title-orange">{{ companyTitle | uppercase }} </strong> <br />
          CONSULTING
        </h1>
        <p class="mini-details-showcase">Mini about details, lorem ipsum dolor sit amet</p>
      </div>
      <div class="isometric-image col-lg-6">
        <p>ISOMETRIC DESIGN ELEMENT PLACEHOLDER</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row what-were-about">
      <h3>What Were About</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 isometric-design">
        <p class="isometric-design">ISOMETRIC DESIGN PLACEHOLDER</p>
      </div>
      <div class="col-sm-6">
        <div class="card text-center">
          <div class="card-body">
            <i>icon goes here</i>
            <h5 class="card-title">Digital Transformation</h5>
            <p class="card-text">
              With supporting text below as a natural lead-in to additional
              content.
            </p>
            <a href="">View Details</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="card text-center">
          <div class="card-body">
            <i>icon goes here</i>
            <h5 class="card-title">Digital Transformation</h5>
            <p class="card-text">
              With supporting text below as a natural lead-in to additional
              content.
            </p>
            <a href="">View Details</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 isometric-design">
        <p class="isometric-design">ISOMETRIC DESIGN PLACEHOLDER</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p class="isometric-design">ISOMETRIC DESIGN PLACEHOLDER</p>
      </div>
      <div class="col-sm-6">
        <div class="card text-center">
          <div class="card-body">
            <i>icon goes here</i>
            <h5 class="card-title">Digital Transformation</h5>
            <p class="card-text">
              With supporting text below as a natural lead-in to additional
              content.
            </p>
            <a href="">View Details</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row who-we-are">
      <h3 class="">WHO WE ARE</h3>
      <p>
        Founded in 2005, we've flown below the radar by design. Our business
        stsrted with a few projects that slowly morphed into more projects and
        additional clients. Along the way we've been careful to keep our
        business ethos front and center; we wanted our growth to be in line with
        how we do business. The nature of methodolgy is such that we become
        embedded in your business. We get in the trenches with you so we're
        viewing everything through the same lens. We forge a relationship that
        goes well beyond a simple service provider. We pride outrsleves
        oncreating positive customer experience that encourages repeat business.
        A testament to this strategy has been the organic growth that has taken
        place thanks in large part to referral business.
      </p>
    </div>
    <div class="row who-we-are-icons">
      <div class="col-md-3">
        <i>icon goes here</i>
        <p>Modern Office</p>
      </div>
      <div class="col-md-3">
        <i>icon goes here</i>
        <p>Modern Office</p>
      </div>
      <div class="col-md-3">
        <i>icon goes here</i>
        <p>Modern Office</p>
      </div>
      <div class="col-md-3">
        <i>icon goes here</i>
        <p>Lines of Code</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row why-work-with-cynerge">
      <div class="col-md-8">
        <h3>WHY WORK WITH CYNERGE</h3>
        <p>lorem ipsum</p>
      </div>
      <div class="col-md-4">
        <p>HUBZone image placeholder</p>
      </div>
    </div>
    <div class="row">
      <h4>GSA Contract Holder PLACEHOLDER</h4>
    </div>
    <div class="row">
      <p>
        Cynerge is pleased to announce that we now have a GSA Blanket Contract
        (GS-35F-366GA), in support of the Federal Government. Cynerge has been a
        provider of information technology services in the federal sector for
        the last 10+ years and is proud to have obtained this award. Our blanket
        contract allows ud to provide DevOps/automation services, project
        management, application development, IT asset management, and operations
        support services.
      </p>
    </div>
    <div class="row">
      <p>team member carousel placeholder</p>
      <app-team-carousel></app-team-carousel>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h4 class="clients-header">Clients we work with</h4>
    <div class="row clients-we-work-with-logos">
      <div class="col-md-3">company logo</div>
      <div class="col-md-3">comapny logo</div>
      <div class="col-md-3">comapny logo</div>
      <div class="col-md-3">comapny logo</div>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <i>Cynerge Logo</i>
        <p>Mini about details</p>
      </div>
      <div class="col-md-3">
        <h6>Quick Links</h6>
        <a href="home">Home</a>
        <br />
        <a href="work">How We Work</a>
        <br />
        <a href="contact">Get In Touch</a>
      </div>
      <div class="col-md-3">
        <a href="services">Our Services</a>
        <br /> 
        <a href="team">Our Team</a>
      </div>
      <div class="col-md-3">
        <h6>Contact Us</h6>
        <p>Mon - Fri: 9:00am - 6:00pm</p>
        <p>31 N Saginaw St. Pontiac, MI, 48000</p>
        <p>info@cynerge.com</p>
        <p>248-952-9800</p>
      </div>
    </div>
  </div>
</footer>
