<ngb-carousel
  *ngIf="images"
  [showNavigationArrows]="showNavigationArrows"
  [showNavigationIndicators]="showNavigationIndicators"
  class="team-carousel"
>
  <ng-template ngbSlide *ngFor="let image of images">
    <div class="row">
      <div class="col-md-3">
        <div class="picsum-img-wrapper">
          <img [src]="image" alt="Random slide" />
        </div>
      </div>
      <div class="col-md-3">
        <div class="picsum-img-wrapper">
          <img [src]="image" alt="Random slide" />
        </div>
      </div>
      <div class="col-md-3">
        <div class="picsum-img-wrapper">
          <img [src]="image" alt="Random slide" />
        </div>
      </div>
      <div class="col-md-3">
        <div class="picsum-img-wrapper">
          <img [src]="image" alt="Random slide" />
        </div>
      </div>
    </div>
  </ng-template>
</ngb-carousel>
